<div data-controller="cart">
  <h1 class="font-bold text-4xl">E-Commerce</h1>
  <li>
    <% @products.each do |product| %>
      <ul>
        <%= product.name %>
        <%= link_to "Add to cart", cart_items_path(product_id: product.id), data: { "turbo-method": "post" } %>
      </ul>
    <% end %>
  </li>

  <br>
  <br>
  <% if current_user %>
    <%= turbo_frame_tag "cart" do %>
      <%= render partial: "cart" %>
    <% end %>
  <% end %>
</div>
